body{
    background-color: #CDFFE1;
    padding: 0;
    margin: 0px;
}
button.product{
    border-style: hidden;
    border-radius: 25px;
    background-color: transparent;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 21px;   
}
img.product{
    border-style: hidden;
    border-radius: 30px;
    margin-bottom: -24px;
    position: relative;
    z-index: -1;
}
p.product{
    border-style: hidden;
    border-radius: 30px;
    background-color: #D9D9D9;
    height: 47px;
    margin: 0px;
    padding-top: 16px;
    box-sizing: border-box;
    font-size: 15px;
}

.information{
    border-style: hidden;
    border-radius: 30px;
    background-color: #D9D9D9;
    padding: 14px 8px;
    margin-top: 21px;
    box-sizing: border-box;
}
p.info{
    display: inline-block;
    border-style: hidden;
    border-radius: 30px;
    height: 40px;
    width: 160px; 
    text-align: center; 
    padding-top: 10px;
    box-sizing: border-box;
    margin: 0px;
    
}
p#name{
    background-color: #FFB800;
    margin-right: 40px;
    margin-bottom: 31px;  
}
p#price{
    background-color: #FEFFBE;
    margin-right: 25px;
}
.sround{
    margin: -1.5px;
    border-style: hidden;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    background-color: #FAFF00;
    display: inline;

}
p.sround{
    text-align: center;
    padding: 10px;
}
#plus{
    background-color: #FE0000;
}
#minus{
    background-color: #04C800;
}
.button{
    display: inline-block;
    border-style: hidden;
    border-radius: 30px;
    height: 40px;
    width: 160px; 
    text-align: center; 
    box-sizing: border-box;
    margin: 0px;
    background-color: #04e939; 
}
button.big{
    border-style: hidden;
    border-radius: 10px;
    background-color: #FF8800;
    width: 100%;
    height: 53px;
    margin: 18px 0px 0px 0px;
}

button:hover{
    border-style: dashed;
}

.inner{display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 250px 250px;}
